*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-flow: wrap row;
}

.col-1{
    flex-basis: 8.333333%;
}
.col-2{
    flex-basis: 16.666666%;
}
.col-3{
    flex-basis: 25%;
}
.col-4{
    flex-basis: 33.333333%;
}
.col-5{
    flex-basis: 41.666666%;
}
.col-6{
    flex-basis: 50%;
}
.col-7{
    flex-basis: 58.333333%;
}
.col-8{
    flex-basis: 66.666666%;
}
.col-9{
    flex-basis: 83.333333%;
}
.col-10{
    flex-basis: 8.333333%;
}
.col-11{
    flex-basis: 91.666666%;
}
.col-12{
    flex-basis: 100%;
}
